/* Container */
.quiz-container {
    max-width: 75%;
    margin: 0 auto;
    padding: 1rem;
}

/* Card */
.quiz-card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 1.5rem;
    border-radius: 8px;
}

.quiz-quesion {
    font-family: "Helvetica", Open Sans, Arial, sans-serif, Verdana;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    padding: 0;
    margin: 0;
}

/* Text Alignment and Spacing */
.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-3 {
    margin-bottom: .5rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-4 {
    margin-top: 1.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.my-5 {
    margin: 3rem 0;
}

/* Button Styles */
.quiz-button {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    width: 40%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .quiz-button:hover {
        background-color: #0056b3;
    }

.quiz-button-secondary {
    background-color: #6c757d;
}

    .quiz-button-secondary:hover {
        background-color: #5a6268;
    }

/* Form Elements */
.quiz-select {
    width: 25%;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.form-group {
    margin-top: 0.5rem;
}

/* Progress Bar */
.progress {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    height:3rem;
    background-color:white;
    align-content:center;
}

    .progress ul {
        display: flex;
        width: 100%;
        padding-left: 0;
        list-style: none;
        margin: auto;
        justify-content: space-between;
        align-content: center;
        position: relative;
        counter-reset: step;
    }

        .progress ul li {
            position: relative;
            flex: 1;
            height: 6px;
            background-color: #d6d6d6;
            border-radius: 2px;
            text-align: center;
        }

            .progress ul li:first-child {
                margin-left: 0;
            }

            .progress ul li:last-child {
                margin-right: 0;
            }

            /* Step Circles */
            .progress ul li::before {
                content: attr(data-step);
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin: 0 auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #d6d6d6;
                border: solid 5px #d6d6d6;
                border-radius: 50%;
                z-index: 2;
                transition: background-color 1s, color 1s, border-color 0.75s;
                font-weight: bold;
                color: #fff;
            }

            /* CURRENT STEP */
            .progress ul li.current {
                background-color: #0e90d2;
            }

                .progress ul li.current::before {
                    border: solid 5px #0e90d2;
                    background-color: #fff;
                    color: #0e90d2;
                    animation: pulse 6s ease-out infinite;
                }

            /* COMPLETED STEPS */
            .progress ul li.complete {
                background-color: #0e90d2;
            }

                .progress ul li.complete::before {
                    background-color: #0e90d2;
                    border-color: transparent;
                    color: #fff;
                }

            /* Remove last step bar line */
            .progress ul li:first-of-type {
                background-color: transparent;
            }

/* Alerts */
.quiz-alert {
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.quiz-alert-success {
    background-color: #d4edda;
    color: #155724;
}

.quiz-alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.quiz-alert-secondary {
    background-color: #e2e3e5;
    color: #383d41;
}

/* Options */
.quiz-option-container {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

    .quiz-option-container.selected-option {
        background-color: #e6f7ff;
        border: 2px solid #007bff;
    }

    .quiz-option-container:hover {
        background-color: #e6f7ff;
        border: 1px solid #007bff;
    }

.quiz-option-input {
    margin-right: 0.5rem;
}

/* Miscellaneous */
.text-muted {
    color: #6c757d;
}

.small {
    font-size: 0.875rem;
}
